#pantalla_juego{
    background-image: url("../img/background.png");
    height: 1024px;
    width: 650px;
    padding-top: 220px;
    cursor:url("../img/hammer_01.png"),pointer;
}
#pantalla_juego:active{
    cursor:url("../img/hammer_03.png"),progress;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: blue;
    text-align: center;
    line-height: 30px;
    color: white;
  }
