#pantalla_juego{
    background-image: url("../img/background.png");
    height: 1024px;
    width: 650px;
    padding-top: 220px;
    cursor:url("../img/hammer_01.png"),pointer;
}
#pantalla_juego:active{
    cursor:url("../img/hammer_03.png"),progress;
}
